#
# Cypress touchkey configuration
#

config KEYBOARD_CYPRESS_TOUCH
	tristate "Cypress touchkey support"
	help
	  Say Y here to enable the cypress touchkey.

config TOUCHKEY_BLN
	bool "For SAMMY ROMs - with BLN support"
	depends on KEYBOARD_CYPRESS_TOUCH
	help
	  Sammy ROMs BLN support.
	  To compile this driver as a module, choose M here.
	  
config TARGET_CM_KERNEL
	bool "For CM/AOSP Roms - with BLN support"
	help
	  CM Roms BLN support.
	  To compile this driver as a module, choose M here.
